@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}
a, li, ul {
    list-style: none;
    text-decoration: none;
}

/* 뒷배경 */
.layer{
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.4);
}

/* 박스 */
.box1, .box2, .box3{
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    padding: 30px;
    margin: 20px 40px;
}

/* 네비전체 */
.gnb{
    max-width: 1500px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header 직업, 이름 영역*/
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 미모티콘 */
.photo > img {
    width: 160px;
    height: 160px;
    margin-bottom: -4px;
}

.logo{
    display: flex;
    flex-direction: column;
}

.job{
    font-family: 'JalnanGothic';
    font-size: 15px;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 10px;
}
.name{
    font-family: 'JalnanGothic';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

/* 네비메뉴 영역 */
.navi01{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi02{
    margin: 0 50px;
}
.navi02 > a{
    font-family: 'JalnanGothic';
    font-size: 18px;
    color: gray;
}

.menu {
    border-bottom: 4px solid black;
}

/* 메인영역*/
main{
    max-width: 1500px;
    margin: 0 auto;
}

.content > h2 {
    font-family: 'JalnanGothic';
    margin-top: 40px;
    text-align: center;
    color: gray;
    letter-spacing: 3px;
}

.aboutme_all{
    margin: 50px 0;
}

.profile{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.info_01{
    display: flex;
    gap: 20px;
}

.info_span01, .info_span02{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info_span01 > span{
    color: gray;
    font-family: 'JalnanGothic';
}

.info_span02 > span{
    font-family: 'JalnanGothic';
}

.download_btn{
    width: 130px; 
    height: 35px; 
    margin: 20px 0 30px; 
    cursor: pointer;
}

.download_btn> a{
    color: black; font-family: 'JalnanGothic';
}


.education, .skill{
    font-family: 'JalnanGothic';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    border-top: 1px solid gainsboro;
}

.education > h2 , .skill > h2{
    margin-top: 40px;
    color: gray;
}

.education_info, .skill_info {
    margin: 30px;
    font-family: 'JalnanGothic';
}

.education_info{
    display: flex;
    gap: 40px;
}
.edu_date > p {
    color: gray;
}
 .skill_info >span{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(195, 195, 195, 0.5);
}


footer{
    display: flex;
    margin: 60px;
    flex-direction: column;
    align-items: center;
}

.git_gmail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmail{
    display: flex;
    align-items: center;
}

.git > a, .notion>a , .gmail> a, .gmail02>p ,footer> p {
    color: gray;
}

.git > a, .notion>a, .gmail> a{
    font-weight: bold;
    padding: 0 40px;
}

.git > a, .notion>a{
    border-right: 2px solid gainsboro;
}